<div class="container">
<div class="chat_class">
<h3>Chat rooms</h3>
<%=current_user.id%>
<%if current_user.email=="velusamyvnp@gmail.com"%>
<%=link_to "View All",  chat_manage_show_path%>
<%end%>

<p class="lead"><%= link_to 'New chat room', new_chat_room_path, class: 'btn btn-primary' %></p>

<ul>
  <%= render @chat_rooms %>
  </ul>
  

</div>
<div class="profile_class">
<div class="a">
	<strong><h3>User Profile</h3></strong>
	<table>
	<tr><td><label><b>Name</b></label></td>
		<td><%=current_user.fname %></td></tr>
	<tr><td><label><b>Email</b></label></td>
		<td><%= current_user.email %></td></tr>
	<tr><td><label><b>Profile Pic</b></label></td>
		<td><%=image_tag current_user.profile_pic.thumb %></td></tr>
				<td><%=link_to "View Full Detail", homes_profile_path  %></td></tr></table> 
</div>       
</div>
</div>
<style>
	.chat_class{
		background-color: #fffff;
		float:left;
		width:400px;
		height:100%;
		text-align: center;
		margin-top: 17px;
	}
	.profile_class{
		float: right;
		width:700px;
		background-color: #fffff;
	}
	.a{
		
	}
</style>

