<div class="container">
<fieldset><center><h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <label>Full Neme </label><br>
    <%= f.text_field :fname, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email, autofocus: true %> </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password, autocomplete: "off" %><br>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  <div class="field">
   <label>Profile Picture</label><br>
    <%= f.file_field :profile_pic ,:class=>'btn-default'%>
  </div>

  <div class="field">
   <label>Mobile</label><br>
    <%= f.text_field :mobile %>
  </div>
  <div class="field">
   <label>Gender</label><br>
    <%#= f.text_field :gender %>
  
  <%#=f.select(:gender, options_for_select(['5', '4', '3', '2', '1']),{}, class: "chzn-select", style: "width: 350px" %>
                          <%#= f.select :gender, ['option1', 'option2']%>
      <%= f.select(:gender,['Male', 'Female'], {class: "form-control"})%>
  </div>
<br>
  <div class="actions">
    <%= f.submit "Sign up" , :class=>'btn-primary'%>
  </div>
<% end %>
<br>
<%= render "devise/shared/links" %>
</center>
</fieldset>
</div>
<style>
fieldset{
  margin-top: 30px;
  margin-right: 300px;
  margin-left: 300px;
  padding:10px;
  background-color: #b6c4db;
}
</style>