<h1> </h1>

<%= form_for @chat, :url =>{action: :update} do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title, class: 'input-control' %>
      <%= f.hidden_field :user_id,:value=>current_user.id %>
      <%= hidden_field_tag "id",@chat.id%>
      <%= f.submit "Save", class: "btn btn-primary" %>
    <% end %>