<div class="container">
<%#=@user.name%>
<h1>Profile</h1>
<div class="img">
<%if @user.profile_pic.present?%>
<%=image_tag @user.profile_pic, :class=>"profile"%>
<%elsif current_user.gender =="Male"%>
<%=image_tag 'male.png', :class=>"profile"%>
<%else%>
<%=image_tag 'female.png', :class=>"profile"%>
<%end%>
</div>
<div class="detail">
    <label>Name:</label><%=@user.fname%><br>
    <label>Email:</label><%=@user.email%><br>
    <label>Gender:</label><%=@user.gender%><br>
    <label>Mobile:</label><%=@user.mobile%><br>
</div>

 </div>
 <div class="container">
 <div class="vel">
 <div id="messages">
 <%@msg.each do|m|%>
 <div class="card">
  <div class="card-block">
    <div class="row">
      <div class="col-md-1">
      
<%#=image_tag @profile_pic, :class=>"profile"%>
       <%#=image_tag message.user.profile_pic.thumb, :style=> 'radius:30px;'%>
        <%=image_tag m.user.profile_pic.thumb %>
      </div>
      <div class="col-md-11">
        <p class="card-text">
          <strong>
          <span class="text-muted">
          
             <%=current_user.fname%> <%#= message.timestamp%> says</span><br>
          <%=m.body %>
        </p>
      </div>
    </div>
  </div>
</div>

<%end%>
</div>
<%= form_for @message, :url =>{action: :create} do |f| %>
  <%= f.hidden_field :user_id,:value=>current_user.id %>
  <%= f.hidden_field :to_id,:value=>@user.id %>
  <%#= f.text_field :user_id,:value=>m.user.id %>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control', :required => true%>
    <small class="text-muted">From 2 to 1000 characters</small>
  </div>
  <%= f.submit "Post", class: 'btn btn-primary', :style=> 'float: right;'%>
<% end %>
</div>
</div>
<style>
.vel{
	float: right;
	width: 100%;
}
#messages{
	height:10%!important;
}
.img{
	float: left;
	width: 200px;
}
.detail{
	float: right;
	width:900px;
	margin-right: 0;
	text-align: left;
}
label{

	text-align: left;
}
	.img img{
		height: 100px;
		width:150px;
	}
</style>