<div class="container">
<fieldset>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for :user , url: {action: :update} do |f| %>
      <%= f.label :fname %>
      <%= f.text_field :fname, class: 'form-control' %>
 <%= f.hidden_field :id%>
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :mobile %>
      <%= f.text_field :mobile, class: 'form-control' %>
      <%= f.label :profile_pic %>
      <%= f.file_field :profile_pic, class: 'form-control' %>
      <%= f.label :gender %>
      <%= f.text_field :gender, class: 'form-control' %><br>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>
    <%=link_to "Back", homes_profile_path%>

      </div>
</div>
</fieldset>
</div>
<style>
fieldset{
  margin-top: 30px;
  margin-right: 300px;
  margin-left: 300px;
  padding:10px;
  background-color: #b6c4db;
}
</style>