<div class="container">
<h1>Profile</h1>
<div class="img">
<%if current_user.profile_pic.present?%>
<%=image_tag current_user.profile_pic, :class=>"profile"%>
<%elsif current_user.gender =="Male"%>
<%=image_tag 'male.png', :class=>"profile"%>
<%else%>
<%=image_tag 'female.png', :class=>"profile"%>
 
<style>
	.profile{
		border-radius: 25px;
	}
</style>
<%end%>
</div>
<div class="detail">
    <label>Name:</label><%=current_user.fname%><br>
    <label>Email:</label><%=current_user.email%><br>
    <label>Gender:</label><%=current_user.gender%><br>
    <label>Mobile:</label><%=current_user.mobile%><br>
</div>
 <div class="edit">
   <%=link_to "Edit My Profile", homes_edit_path(current_user)%>
 </div>



 
 </div>
<style>
.img{
	
	float: left;
	width: 200px;
}
.detail{
	float: right;
	width:900px;
	margin-right: 0;
	text-align: left;
}
label{

	text-align: left;
}
	.img img{
		height: 100px;
		width:150px;
	}
</style>
