<!DOCTYPE html>
<html>
  <head>
    <title>ChatApp</title>
    <%= csrf_meta_tags %>
    
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>  
</head>

  <body>
<header>
<div class="container">
<div class="logo">
<img src="http://colouringbook.org/Holidays/Xmas/PEACE/peace_peace_dove_icon_christmas_xmas_peace_on_earth_coloring_book_colouring.svg">
<strong>Group Chat</strong>
</div>
<div class="menu">
<a href="#">Home</a>
<a href=""><%=link_to "Project", user_session_path%></a>
<a><%=link_to "Contact", emails_path%></a>
<a><% if user_signed_in? %>
        <%=link_to 'Log out', destroy_user_session_path, method: :delete %>
<% end %></a>
</div>

      </div>
</header>
    <%= yield %>
<div class="footer-copyright">
<div class="container">
<div class="ftext"><strong>Developed By Velusamy Venkatraman</strong></div>
</div>
</div>
  </body>
</html>
